.label {
  width: 75px;
  height: 75px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid red;
  transition: all ease-in-out 500ms;
  border-radius: 50%;
}

.input:checked + label {
  width: 85px;
  height: 85px;
  background-color: red;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}
